.row
  .col-xs-12.col-md-8.col-md-offset-2.page-header
    %h1.text-center #{account_title}

%div.row
  %div.col-md-4
    = haml :treegrid_account, :locals => {:summary => summary}

  %div.col-md-8.accounts_balances

:javascript
    $(document).ready(function() {
      $('.tree').treegrid();

      $('#balances-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    });

    $(function () {
      $('.accounts_balances').highcharts({
        chart: { type: 'spline' },
        title: { text: 'Relevés mensuels' },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { month: '%b %Y', year: '%b %Y' },
          title: { text: 'Date' }
        },
        yAxis: {
          title: { text: null },
          min: 0
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x:%e %b %Y}: {point.y:.2f} #{settings.currency}'
        },

        plotOptions: {
          spline: {
            marker: {
              enabled: true
            }
          }
        },
        series: [
          #{highcharts_series(balances)}
        ]
      });
    });
